body{
    background-image: url('../image/image.jpg');
    background-size: cover;
    height: auto;
    width:100%;
    
}
h1,h2{
    font-family: 'Roboto', sans-serif;
    font-size: 1.5em;
}
.icon{
    font-size: 3em;
}
.fa-laugh-beam{
    font-size: 5em;
}
.fa-grin-beam-sweat{
    font-size: 5em;   
}
